.navbar-brand img{
    height: 40px;
}

#inicio{
    background-color: black;
}

body{
    background-color: black;
}

@media screen and (min-width: 768px) {
    #inicio{
        background-color: transparent;
    }
}